@import "styles/utils";

.featureCard {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 56px 28px 32px;
  margin-top: 28px;

  .icon {
    position: absolute;
    top: 0;
    left: 28px;
    width: 56px;
    transform: translateY(-50%);
  }

  .title {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin-bottom: 16px;
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-bottom: 24px;
  }

  .link {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
  }
}
